/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2016, 12:42:34 PM
    Author     : Tahir Shehzad
    CSS for Main webpage
*/

body{
    background-image: url("1.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    position: fixed;
    top: 0px;
    width: 100%;
}

li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid white;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: lightgray;
    border-bottom: 1 px solid black;
}

.active {
    background-color: activeborder;
    color: black;
}

main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 8%;
    padding: 2%;
    background: url("textbg.png");
    border-radius: 7px;
    
}

#logo{
    display: block;
    margin: 0 auto;
}

#second {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    padding: 3%;
    background: url("textbg.png");
    border-radius: 7px;
    font-family: Arial;
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
}

#mypic{
    width: 520px;
    height: 300px;
    border-radius: 7px;
    float: right;
    margin-bottom: 17px;
    margin-left: 35px;
    border-style: solid;
    border-color: #262626;
    border-width: 2px;
}

#Bottom{
    text-align: center;
}

footer{
    margin-top: 5%;
    background-color: #262626;
    color: white;
    position: static;
    margin-bottom: 0px;
    bottom: 0px;
    width: 100%;
    font-family: arial;
    padding-top: 7px;
    padding-bottom: 7px;
    
}
